.form {

}

.form-legend {

}

.form-group {

}

.form-group-item {

}

.form-label {
  background-color: $grey-zircon;
  border-bottom-color: $grey-athensgrey;
  border-left-color: $grey-athensgrey;
  border-right-color: transparent;
  border-top-color: $grey-athensgrey;
}

.form-email {

}

.form-text {
  
}

.form-field {
  border-bottom-color: $grey-athensgrey;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}
