$white-white: rgb( 255, 255, 255 );
$black-black: rgb( 0, 0, 0 );
// header background
$grey-balticsea: rgb( 63, 64, 65 );
//main background
$blue-azure: rgb( 254, 255, 255 );

$grey-shuttlegrey: rgb( 91, 100, 110 );
// light grey
$grey-iron: rgb( 209, 210, 211 );
// border grey
$grey-athensgrey: rgb( 223, 224, 224 );
// label background
$grey-zircon: rgb( 237, 238, 239 );

$blue-casper: rgb( 177, 182, 187 );

$blue-manatee: rgb( 143, 149, 156 );
//pages active
$blue-pacificblue: rgb( 0, 145, 216 );
$blue-bluebayoux: rgb( 101, 113, 122 );